.rewards {
  position: relative;
  overflow: hidden;
  .decor {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  .rewards-1 {
    z-index: -1;
    margin-bottom: -350px;
    .phone {
      z-index: -1;
    }
  }
  .rewards-2 {
    background-color: #f2f2f2;
    .list-rewards {
      padding-top: 80px;
      padding-bottom: 100px;
      h2 {
        text-align: center;
        padding-bottom: 20px;
      }
      h2 span {
        color: #05babd;
      }
      .restaurant-foodtruck {
        .restaurant-active {
          font-weight: bold;
          color: #05babd;
        }
        .name-restaurant {
          -webkit-line-clamp: 1;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          font-size: 18px;
          &:hover {
            font-weight: bold;
            color: #05babd;
          }
        }
        .slide-restaurant-foodtruck {
          background-color: #fff;
          position: relative;
          margin: auto;
          padding: 30px 60px 20px;
          margin-bottom: 30px;
          .owl-nav {
            display: flex;
            justify-content: space-between;
            .owl-prev {
              top: 70px;
              padding: 0 20px;
              position: absolute;
              left: -15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              background-color: rgb(125, 196, 197);
              box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
              width: 50px;
              height: 50px;
              img{
                width: 100%;
              }
              &:hover {
                background-color: #5fcccf;
              }
            }
            .owl-next {
              position: absolute;
              top: 70px;
              right: -15px;
              padding: 0 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              background-color: rgb(125, 196, 197);
              box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
              width: 50px;
              height: 50px;
              img{
                width: 100%;
              }
              &:hover {
                background-color: #5fcccf;
              }
            }
          }
        }
        .img-reward {
          padding-bottom: 20px;
          .img-home {
            margin-bottom: 10px;
          }
          .homepage {
            color: #5fcccf;
            border-radius: 50px;
            border: 1px solid #5fcccf;
            padding: 4px 16px;
            font-size: 17px;
            text-decoration: none;
            font-size: 14px;
            &:hover {
              color: #fff;
              background-color: #5fcccf;
            }
          }
          &:hover {
            .img-home {
              border: 3px solid #5fcccf;
              border-radius: 8px;
            }
            p {
              font-weight: bold;
                color: #5fcccf;
            }
            .commingsoon {
              p {
                font-weight: bold;
                color: #595959;
              }
            }
          }
        }
        .img-item {
          margin-left: 20px;
          margin-right: 20px;
        }
        // .commingsoon {
        //   p {
        //     &:hover {
        //       color: #595959;
        //     }
        //   }
        // }
        .comming-soon {
          //
          // .homepage {
          //   color: #595959;
          //   border: 1px solid #595959;
          //   &:hover {
          //     color: #595959 !important;
          //     border: 1px solid #595959 !important;
          //     background: none;
          //   }
          // }
          // .name-restaurant:hover {
          //   color: #595959;
          //   font-weight: normal;
          //
          // }
          .img-comming-soon {
            position: absolute;
            top: 0;
            right: 0;
            width: 25%;
          }
        }
      }
    }
    .add-bottom {
      height: 120px;
    }
    .map-restaurant-foodtruck {
      background: #fff;
      padding: 20px;
      margin-bottom: 120px;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: -4em;
  }
  .text {
    margin: auto 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
    text-align: left;
    p {
      text-align: center;
    }
    .title {
      display: flex;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 1em;
      margin-bottom: 1em;
      text-align: center;
      justify-content: center;
      .title-icon {
        margin-right: 1em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        img {
          height: 120px;
        }
      }
      h2 {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  [data-aos="long-fade-up"] {
    transform: translateY(500px);
    opacity: 0;
    transition-property: transform, opacity;
    &.aos-animate {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @include breakpoint($bs-xx) {
    .text .title .title-icon img {
      height: 100px;
    }
  }
  @include breakpoint($bs-md) {
    .owl-nav {
      display: none !important;
    }
    .slide-restaurant-foodtruck {
      padding: 5px !important;
    }
    .decor {
      display: none;
    }
    .text {
      padding-bottom: 2em;
      text-align: center;
      .title {
        flex-direction: column;
        .title-icon {
          margin-right: 0;
          align-items: center;
          flex-direction: unset;
          margin-bottom: 0.5em;
        }
      }
    }
    .list-rewards {
      // padding-bottom: 50px;
    }
  }
  @include breakpoint($bs-lg) {
    .add-bottom {
      display: none !important;
    }
  }
}
