.head-food-truck {
  background-image: linear-gradient(rgba(5,14,22,0.7), rgba(5,14,22,0.7)),url(../img-business/food-truck/ftruck-bg@3x.jpg);
  background-size: cover;
  background-position-x: center;
  color: white;
  .content-head-food-truck {
    padding-top: 240px;
    padding-bottom: 140px;
    .col-8 {
      padding-right: 0;
    }
    .col-4 {
      padding-left: 120px;
    }
    h1 {
      margin-bottom: 24px;
    }
  }
  @include breakpoint($bs-lg){
    .content-head-food-truck {
      .col-4 {
        padding-left: 50px;
      }
    }
  }
  @include breakpoint($bs-md){
    .content-head-food-truck {
      h1 {
        font-size: 40px;
        line-height: 48px;
      }
      .col-8 {
        padding-right: 15px;
      }
      .col-4 {
        padding-left: 0px;
      }
    }
  }
  @include breakpoint($bs-sm){
    .content-head-food-truck {
      text-align: center;
      padding-bottom: 50px;
      h1 {
        margin-bottom: 5px;
      }
      .affordable-pricing {
        transform: translateY(40px);
        img {
          width: 50%;
          transform: translate(-158px, -30px);
        }
        .row {
          margin-top: -35px;
          .margin40 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @include breakpoint($bs-xs){
    .content-head-food-truck {
      padding-bottom: 70px;
      .affordable-pricing {
        img {
          transform: translate(0, -18px);
        }
        .row {
          margin-top: 0;
          .margin40 {
            margin-bottom: 32px;
          }
        }
        .line {
          margin: 7px 175px;
        }
        .bor {
          display: none;
          // margin: 0 15px 6px 15px;
          // max-width: 185px;
        }
      }
    }
  }
}

.content-food-truck {
  padding-top: 120px;
  font-family: 'MetropolisRegular', sans-serif;
  color: #343a4b;
  img {
    // height: 100%;
    width: 100%;
    border-radius: 4px;
  }
  .order-ahead {
    h4 {
      margin-bottom: 16px;
      margin-right: -3px;
    }
  }
  .location-based {
    text-align: center;
    h4 {
      margin-bottom: 32px;
    }
  }
  .tablet-printer {
    h4 {
      margin-top: 40px;
      margin-bottom: 16px;
    }
    p {
      padding-bottom: 8px;
    }
  }
  .offer-reward {
    h4 {
      margin-bottom: 16px;
    }
    .check {
      display: flex;
      padding-bottom: 10px;
      i {
        padding-right: 14px;
        font-size: 12px;
        color: white;
        margin-top: 7px;
      }
      .fa-check:before {
        background: linear-gradient(to top, #2f90d0, #39dfe2);
        padding: 4px;
        border-radius: 50px;
      }
    }
  }
  .price {
    background: linear-gradient(to right, #7aa9dc, #49c1c3);
    border-radius: 8px;
    color: white;
    padding-left: 65px;
    transform: translateY(165px);
    h4 {
      padding-top: 95px;
      padding-bottom: 8px;
    }
    p {
      color: white;
    }
    h3 {
      font-size: 32px;
    }
    img {
      position: absolute;
      margin-left: -80px;
      height: 100%;
    }
    .transaction {
      background-color: white;
      margin: 60px 85px 60px 60px;
      border-radius: 8px;
      padding: 60px 40px;
      position: relative;
      color: #6c707a;
      text-align: center;
      p {
        color: #6c707a;
      }
      .line {
        height: 1px;
        background-color: #5bcbcd;
      }
    }
  }
  .start {
    background-color: #f3f5f6;
    padding-top: 265px;
    padding-bottom: 107px;
    img {
      width: 80%;
    }
    h4 {
      padding-top: 100px;
      padding-bottom: 8px;
    }
    p {
      padding-bottom: 22px;
    }

  }
  @include breakpoint($bs-lg){
    .price {
      .transaction {
        margin: 50px 50px 50px 22px;
        padding: 60px 40px;
      }
    }
  }
  @include breakpoint($bs-md){
    .order-ahead {
      text-align: center;
      p {
        margin-bottom: 30px;
      }
    }
    .offer-reward {
      .col-md-12:first-child {
        order: 2
      }
      .col-md-12:last-child {
        order: 1;
        margin-bottom: 40px;
      }
    }
    .price {
      transform: translateY(160px);
      margin-top: -50px;
      padding-left: 45px;
      h4 {
        padding-top: 60px;
      }
      .transaction {
        margin: 50px 50px 50px -45px;
        padding: 60px 40px;
      }
    }
    .start {
      h4 {
        padding-top: 25px;
      }
    }
  }
  @include breakpoint($bs-sm){
    .tablet-printer {
      text-align: center;
      p:last-child {
        margin-bottom: 32px;
      }
    }
    .price {
      text-align: center;
      padding: 0 55px;
      img {
        margin-left: -255px;
        height: 150%;
        width: 118%;
        margin-top: -106px;
      }
      .transaction {
        margin: 40px 0 50px;
        padding: 25px 115px;
      }
    }
    .start {
      text-align: center;
      img {
        width: 65%;
        padding-bottom: 25px;
      }
    }
  }
  @include breakpoint($bs-xs){
    .order-ahead {
      .col-lg-4:first-child {
        order: 2;
        margin-top: 30px;
      }
      .col-lg-4:nth-child(2) {
        order: 1;
      }
      .col-lg-4:nth-child(3) {
        order: 3;
      }
    }
    .price {
      .transaction {
        padding: 25px 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .line {
          width: 175px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
