.head-coffee {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img-business/coffee/coffeeShop-bg@3x.jpg);
  background-size: cover;
  background-position-x: center;
  color: white;
}

.content-coffee {
  padding-top: 120px;
  color: #343a4b;
  .line-page {
    margin: 100px 0;
  }
  p, h4 {
    font-family: 'MetropolisRegular', sans-serif;
  }
  h2 {
    font-family: 'MetropolisExtraLight', sans-serif;
    padding-bottom: 62px;
    u:first-child {
      color: #9498a6;
      padding-right: 15px;
    }
    u:last-child {
      color: #2eb9bb;
    }
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
  .order-ahead {
    h2 {
      text-align: center;
    }
    .point {
      transform: translate(155px, -180px);
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }

  .tablet-printer {
    text-align: center;
    .point {
      transform: translate(290px, -230px);
    }
    .point:last-child {
      transform: translate(770px, -160px);
    }
    p {
      padding: 8px 125px 22px ;
    }
  }
  .offer-reward {
    h2 {
      text-align: center;
    }
    h4 {
      padding-bottom: 8px;
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }
  .prices {
    transform: translateY(160px);
    margin-top: -160px;
    h2 {
      text-align: center;
    }
    .bgr {
      background-image: linear-gradient(to right, #7aa9dc, #49c1c3);
      border-radius: 8px;
      .content {
        background-image: url("../img-business/coffee/decor1@3x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        padding: 70px 90px 70px 60px;
        .left {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          h4 {
            color: white;
            margin-bottom: 14px;
          }
          p {
            color: white;
            margin-bottom: 0;
          }
        }
        .transaction {
          text-align: center;
          background-color: white;
          padding: 42px 32px;
          border-radius: 8px;
          h4 {
            font-weight: 600;
            color: #6c707a;
            font-family: 'Montserrat', sans-serif;
          }
          .line {
            height: 1px;
            background: #5bcbcd;
            margin: 0px 5% 15px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  .start {
    background-color: #f3f5f6;
    padding-top: 275px;
    padding-bottom: 126px;
    img {
      width: 70%;
    }
    h4 {
      padding-top: 100px;
      padding-bottom: 8px;
    }
    p {
      padding-bottom: 22px;
    }
  }
  @include breakpoint($bs-lg){
    .prices {
      .bgr {
        .content {
          padding: 70px 45px 70px 60px;
        }
      }
    }
    .start {
      img {
        width: 79%;
      }
    }
  }
  @include breakpoint($bs-md){
    .order-ahead {
      .height60 {
        height: 35%;
      }
    }
    .offer-reward {
      img {
        height: auto;
      }
      .height60 {
        height: 44%;
      }
    }
    .prices {
      .bgr {
        .content {
          padding: 70px 45px;
        }
      }
    }
    .start {
      img {
        width: 83%;
        height: 96%;
      }
      h4 {
        padding-top: 40px;
      }
    }
  }
  @include breakpoint($bs-sm){
    .order-ahead {
      .bgr-point {
        margin-top: 45px;
      }
      .height60 {
        height: 63%;
      }
      h4 {
        margin-bottom: 30px;
        text-align: center;
      }
    }
    .tablet-printer {
      p {
        padding: 8px 0px 22px;
      }
    }
    .offer-reward {
      text-align: center;
    }
    .prices {
      text-align: center;
      .bgr {
        .content {
          padding: 70px 25px;
          .left {
            padding-bottom: 60px;
          }
          .transaction {
            .line {
              margin: 0px 20% 15px;
            }
          }
        }
      }
    }
    .start {
      text-align: center;
    }
  }
}
