.head-coffee {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img-business/coffee/coffeeShop-bg@3x.jpg);
  background-size: cover;
  background-position-x: center;
  color: white;
  .content-head-food-truck {
    padding-top: 255px;
    padding-bottom: 70px;
    h1 {
      margin-bottom: 24px;
    }
    h3 {
      font-family: 'MetropolisSemiBold', sans-serif;
    }
    .affordable-pricing {
      // margin-left: 110px;
    }
  }
  @include breakpoint($bs-md){
    .content-head-food-truck {
      h1 {
        font-size: 40px;
      }
    }
  }
  @include breakpoint($bs-md){
    h1 {
      text-align: center;
    }
  }
}
.popover {
  transform: translate3d(823px, 1195px, 0px)!important;
}
.content-coffee {
  padding-top: 120px;
  color: #343a4b;
  .line-page {
    margin: 100px 0;
  }
  p, h4 {
    font-family: 'MetropolisRegular', sans-serif;
  }
  h2 {
    font-family: 'MetropolisExtraLight', sans-serif;
    padding-bottom: 62px;
    u:first-child {
      color: #9498a6;
      padding-right: 15px;
    }
    u:last-child {
      color: #2eb9bb;
    }
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
  .order-ahead {
    h2 {
      text-align: center;
    }
    .bgr-point {
      text-align: left;
      background-image: url("../img-business/coffee/illu 2@3x.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      img {
        width: 70px;
        margin: 269px 0 113px 156px;
      }
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }

  .tablet-printer {
    text-align: center;
    .point-1 {
      position: absolute;
      transform: translate(-268px, -230px);
      height: 70px;
      width: 70px;
    }
    .point-2 {
      position: absolute;
      transform: translate(220px, -160px);
      height: 70px;
      width: 70px;
    }
    p {
      padding: 8px 125px 22px ;
    }
  }
  .offer-reward {
    h2 {
      text-align: center;
    }
    h4 {
      padding-bottom: 8px;
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }
  .prices {
    h2 {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: -95px;
    }
    .price {
      background-image: linear-gradient(rgba(122, 169, 220, 1), rgba(73, 193, 195, 1)), url(../img-business/food-truck/decor1@3x.png);
      background-size: cover;
      background-position-x: center;
      border-radius: 8px;
      color: white;
      padding: 65px 90px 65px 65px;
      transform: translateY(165px);
      p {
        color: white;
      }
      .left {
        padding-top: 50px;
        h4 {
          padding-bottom: 8px;
        }
      }
      .price-transaction {
        display: flex;
        justify-content: flex-end;
        .transaction {
          background-color: white;
          margin: 5px 0px;
          border-radius: 8px;
          padding: 42px 32px;
          position: relative;
          color: #6c707a;
          text-align: center;
          p {
            color: #6c707a;
          }
          .line {
            height: 1px;
            background-color: #5bcbcd;
          }
        }
      }
    }
  }
  .start {
    background-color: #f3f5f6;
    padding-top: 275px;
    padding-bottom: 126px;
    img {
      width: 70%;
    }
    h4 {
      padding-top: 100px;
      padding-bottom: 8px;
    }
    p {
      padding-bottom: 22px;
    }

  }
  @include breakpoint($bs-lg){
    .prices {
      .price {
        padding: 65px 45px;
      }
    }
    .start {
      img {
        width: 79%;
      }
    }
  }
  @include breakpoint($bs-md){
    .order-ahead {
      .height60 {
        height: 35%;
      }
    }
    .offer-reward {
      img {
        height: auto;
      }
      .height60 {
        height: 44%;
      }
    }
    .prices {
      .price {
        .left {
          padding-top: 10px;
        }
      }
    }
    .start {
      img {
        width: 83%;
        height: 96%;
      }
      h4 {
        padding-top: 40px;
      }
    }
  }
  @include breakpoint($bs-sm){
    .order-ahead {
      .height60 {
        height: 63%;
      }
      h4 {
        margin-bottom: 30px;
        text-align: center;
      }
    }
    .tablet-printer {
      p {
        padding: 8px 0px 22px;
      }
    }
    .offer-reward {
      text-align: center;
    }
    .prices {
      .price {
        text-align: center;
        .price-transaction {
          margin-top: 60px;
          // justify-content: center;
          .transaction {
            display: flex;
            width: 100%;
            flex-direction: column;
          }
        }
      }
    }
    .start {
      text-align: center;
    }
  }
}
