.head-coffee {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img-business/coffee/coffeeShop-bg@3x.jpg);
  background-size: cover;
  background-position-x: center;
  color: white;
  .content-head-food-truck {
    padding-top: 240px;
    padding-bottom: 25px;
    h1 {
      margin-bottom: 24px;
      padding-right: 50px;
    }
    h3 {
      font-family: 'MetropolisSemiBold', sans-serif;
    }
  }
}

.content-coffee {
  padding-top: 120px;
  color: #343a4b;
  p, h4 {
    font-family: 'MetropolisRegular', sans-serif;
  }
  h2 {
    font-family: 'MetropolisExtraLight', sans-serif;
    padding-bottom: 80px;
    u:first-child {
      color: #9498a6;
      padding-right: 15px;
    }
    u:last-child {
      color: #2eb9bb;
    }
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
  .order-ahead {
    text-align: center;
    .point {
      position: absolute;
      transform: translate(-97px,-180px);
      height: 70px;
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }

  .tablet-printer {
    text-align: center;
    p {
      padding: 5px 125px 24px ;
    }
  }
  .offer-reward {
    h2 {
      text-align: center;
    }
    .point {
      position: absolute;
      transform: translate(-97px,-180px);
      height: 70px;
    }
    .height60 {
      margin-bottom: 27px;
      height: 62%;
    }
  }
  .price {
    background: linear-gradient(to right, #7aa9dc, #49c1c3);
    border-radius: 8px;
    color: white;
    padding-left: 65px;
    transform: translateY(165px);
    h4 {
      padding-top: 95px;
      padding-bottom: 8px;
    }
    p {
      color: white;
    }
    img {
      position: absolute;
      margin-left: -80px;
    }
    .transaction {
      background-color: white;
      margin: 60px 85px 60px 60px;
      border-radius: 8px;
      padding: 60px 40px;
      position: relative;
      color: #6c707a;
      text-align: center;
      p {
        color: #6c707a;
      }
      .line {
        height: 1px;
        background-color: #5bcbcd;
      }
    }
  }
  .start {
    background-color: #f3f5f6;
    padding-top: 265px;
    padding-bottom: 107px;
    img {
      width: 80%;
    }
    h4 {
      padding-top: 100px;
      padding-bottom: 8px;
    }
    p {
      padding-bottom: 22px;
    }

  }
}
