.footer {
  background-color: #3d3d3d;
  padding-top: 65px;
  padding-bottom: 15px;
  color: #adadad;
  .menu-footer {
    h6 {
      line-height: 24px;
      padding-bottom: 16px;
    }
    a {
      font-family: 'MetropolisRegular', sans-serif;
      color: #d1d1d1;
      line-height: 34px;
      i {
        padding-top: 5px;
        padding-right: 24px;
        font-size: 24px;
        color: #838383;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  hr {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #484848;
  }
  .privacy {
    display: flex;
    justify-content: space-between;
    p {
      font-family: 'MetropolisRegular', sans-serif;
      color: #838383;
    }
    .policy {
      display: flex;
      a:last-child {
        p {
          padding-left: 50px;
        }
      }
    }
  }
  @include breakpoint($bs-md){
    .menu-footer {
      .col-sm-6 {
        margin-bottom: 40px;
      }
    }
    hr {
      margin-top: 10px;
    }
  }
  @include breakpoint($bs-sm){
    .privacy {
      p{
        order: 2;
      }
      flex-direction: column;
      text-align: center;
      .policy {
        order: 1;
        justify-content: center;
      }
    }
  }
  @include breakpoint($bs-xs){
    .menu-footer {
      text-align: center;
    }
  }
}
