body {
  font-family: 'MetropolisMedium', sans-serif;
  color: #6c707a;
  font-size: 16px;
  h1 {
    font-size: 49px;
    line-height: 56px;
  }
  h2 {
    font-size: 42px
  }
  h3 {
    font-size: 38
  }
  h4 {
    font-size: 32px;
    line-height: 40px;
  }
  h5 {
    font-size: 26px
  }
  h6 {
    font-size: 20px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    color: #6c707a;
    line-height: 24px;
    margin-bottom: 0.5em;
  }
  @include breakpoint($bs-xx){
    h1 {

    }
    h2 {

    }
    p {

    }
  }
}
.affordable-pricing {
  background: linear-gradient(to bottom, #ffffff, #e1f3ff);
  text-align: center;
  border-radius: 8px;
  transform: translateY(-35px);
  padding-bottom: 17px;
  h3 {
    color: #4c5162;
    padding-top: 25px;
  }
  .line {
    height: 1px;
    background-image: linear-gradient(to top, #2f90d0, #39dfe2);
    margin: 7px 43px;
  }
  img {
    transform: translate(-28px, -18px);
  }
  .margin40 {
    margin-bottom: 32px;
  }
  .bor {
    border-radius: 12px;
    border: solid 1px transparent;
    background-image: linear-gradient(#ecf7ff, #e1f3ff), linear-gradient(to top, #2f90d0, #39dfe2);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.8;
  }
}

.menu-business {
  background-color: #f8f8f8;
  .content-menu {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
    a {
      font-size: 15px;
      color: #6c707a;
    }
    select {
      margin-left: 50px;
    }
  }
}

.line-page {
  height: 1px;
  background-color: #e1e1e1;
  margin: 120px 0;
}

.container-1240 {
  max-width: $cont-size;
  margin: 0 auto;
}

.pad-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pad-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.line-color {
  background-color: $cl-line-bg;

  & > .container-1240 {
    display: flex;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}
