body {
  font-family: 'MetropolisMedium', sans-serif;
  color: #6c707a;
  font-size: 16px;
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 {
    font-size: 46px
  }
  h3 {
    font-size: 38px
  }
  h4 {
    font-size: 32px;
    line-height: 40px;
  }
  h5 {
    font-size: 24px
  }
  h6 {
    font-size: 20px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    color: #6c707a;
    line-height: 24px;
    margin-bottom: 0.5em;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  @include breakpoint($bs-xx){
    h1 {

    }
    h2 {

    }
    p {

    }
  }
}

[data-aos=fade-left] {
    transform: translate(50px);
}

[data-aos=fade-right] {
    transform: translate(-50px);
}

[data-aos=fade-up] {
    transform: translateY(50px);
}

[data-aos=fade-down] {
    transform: translateY(-50px);
}

.ani-aos {
  overflow: hidden;
}

.content-head-ft-coff {
  padding-top: 150px;
  padding-bottom: 60px;
  h1 {
    margin-top: 40px;
    font-family: 'MetropolisSemiBold', sans-serif;
  }
  .affordable-pricing {
    display: flex;
    justify-content: flex-end;
    .pricing {
      max-width: min-content;
      padding: 0 35px;
      float: right;
      background-image: linear-gradient(to bottom, #ffffff, #e1f3ff);
      border-radius: 8px;
      img {
        transform: translate(-26px, -17px);
      }
      .head-pri{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: #4c5162;
          font-family: 'MetropolisBold', sans-serif;
          font-size: 30px;
          margin-bottom: 0px;
        }
        .line {
          height: 1px;
          background-image: linear-gradient(to top, #2f90d0, #39dfe2);
          width: 100%;
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          font-family: 'MetropolisRegular', sans-serif;
          margin-bottom: 35px;
        }
      }
      .bottom-pri {
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-width: max-content;
        margin-bottom: 25px;
        p {
          text-align: center;
          width: 180px;
          font-size: 14px;
          border: 1px solid #39dfe2;
          border-radius: 12px;
        }
      }
    }
  }
  @include breakpoint($bs-md){
    h1 {
      font-size: 40px;
      line-height: 48px;
    }
  }
  @include breakpoint($bs-sm){
    text-align: center;
    h1 {
      margin-bottom: 50px;
    }
    .affordable-pricing {
      .pricing {
        width: 100%;
        max-width: none;
        img {
          transform: translate(-160px, -30px);
          width: 56%;
        }
        .row {
          margin-top: -35px;
          .head-pri{
            padding-top: 11px;
            .line {
              width: 80%
            }
          }
        }
      }
    }
  }
  @include breakpoint($bs-xs){
    .affordable-pricing {
      .pricing {
        img {
          width: 240px;
          transform: translate(0, -15px);
        }
        .row {
          margin-top: 0;
          .head-pri{
            .line {
              max-width: 160px;
            }
          }
          .bottom-pri {
            display: none;
          }
        }
      }
    }
  }
}


.point {
  width: 70px;
  position: absolute;
}

.menu-business {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e1e1e1;
  .content-menu {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 20px;
    a {
      cursor: pointer;
      font-size: 15px;
      color: #6c707a;
      &:hover {
        color: #2EB9BB;
      }
    }
    .dropdown {
      margin-left: 60px;
      margin-top: -7px;
      font-size: 14px;
      &:focus {
        outline: none;
      }
      .dropdown-toggle {
        cursor: pointer;
        width: 240px;
        height: 32px;
        background: #fdfdfd;
        border: 1px solid #e1e1e1;
        // border-color:
        border-radius: 4px;
        color: #6c707a;
        padding-top: 5px;
        outline: none;
        // border-style: none;
        &:focus {
          outline: none;
        }
        &:active {
          border-style: none;
        }
        &::after {
          margin-left: 15px;
        }
      }
      .dropdown-menu {
        width: 240px;
        text-align: left;
        padding-top: 10px;
        // padding-left: 15px;
        box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.15);
        border: none;
        margin-top: 10px;
        .dropdown-item {
          padding-left: 25px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      i {
        padding-right: 15px;
        font-size: 14px;
        color: #2eb9bb;
      }
    }
    .show {
      .dropdown-toggle {
        &::after {
          border-top: 0;
          border-right: .3em solid transparent;
          border-bottom: .3em solid;
          border-left: .3em solid transparent;
        }
      }
    }
  }
  @include breakpoint($bs-md){
    .content-menu {
      justify-content: center;
      a {
        display: none;
      }
      .dropdown {
        margin-left: 0px;
        a {
          display: block;
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100
}

.line-page {
  height: 1px;
  background-color: #e1e1e1;
  margin: 120px 0;
}

.center {
  text-align: center;
}

.a-button {
  font-family: 'MetropolisMedium', sans-serif;
  font-size: 15px;
  border-radius: 4px;
  background-color: #2eb9bb;
  padding: 10px 40px;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.pad-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.back-to-top {
  width: 2.5em;
  height: 2.5em;
  display: none;
  position: fixed;
  text-align: center;
  border-radius: 6px;
  bottom: 1.5em;
  right: 1.5em;
  box-shadow: 0 0 12px 2px rgba(128,128,128,0.3);
  background: white;
  cursor: pointer;
  z-index: 1;
  i {
    width: 18px;
    margin-top: 15px;
  }
  @include breakpoint($bs-xx){
    width: 2em;
    height: 2em;
    i {
      width: 14px;
      margin-top: 7px;
    }
  }
}
