$bs-xx:1920px;
$bs-xl:1366px;
$bs-lg:1199px;
$bs-md:991px;
$bs-sm:767px;
$bs-xs:575px;
$bs-xxs:518px;
$bs-ss:450px;
$bs-xxxs:400px;


// color
$cl-but: #10c78b;
$cl-but-hv: #00e096;
$cl-flow: #5bcbcd;
$cl-tit: #2e3333;
$cl-txt: #616565;
$cl-txt-span: #e5e5e5;

$body-size: 1920px;
$cont-size: 1240px;

$cl-line-bg: #273f5b;
